---
import {arborescence_cours} from "@/lib/files";
import Layout from "@/layouts/Layout.astro";
import MainHeader from "../../../../components/MainHeader.astro";
export function getStaticPaths() {
    // for each ue and theme and cours pair
    return arborescence_cours.flatMap((ue) => {
        return ue.themes.flatMap((theme) => {
            return theme.cours.map((cours) => {
                return {params: {ue_id: ue.id, theme_id: theme.id, cours_id: cours.id}}
            })
        })
    })
}

const {ue_id, theme_id, cours_id} = Astro.params;
const ue = arborescence_cours.find(ue => ue.id === ue_id)!;
const theme = ue.themes.find(theme => theme.id === theme_id)!;
const cours = theme.cours.find(cours => cours.id === cours_id)!;
---

<Layout title=`${cours.name}`>
    <MainHeader>{cours.name}</MainHeader>
    <hr class="mb-5 "/>
    <h3>Fiches </h3>
    {cours.fiches.map(fiche => (
            <div class="card mb-3" id={fiche.id}>
                <div class="card-body d-flex flex-column justify-content-center align-content-center align-items-center py-2">
                    <a href={fiche.download_url}
                       class="btn btn-primary btn-mg btn-block w-auto my-3">Télécharger {fiche.name}</a>
                    <details class="mb-3 justify-content-center align-items-center" style="width: 100%">
                        <summary>Afficher l'aperçu du PDF</summary>
                            <object data={fiche.embed_url} type="application/pdf" class="pdf-embed">
                                <p>Impossible d'afficher l'apercu <a href={fiche.download_url}>TéléchargerPDF</a>.</p>
                            </object>
                    </details>
                </div>
            </div>
    ))}
    <div id="questions" class="mt-5">
        <!-- Future questions will be added here -->
    </div>
</Layout>

<style>

    .pdf-embed {
        width: 100%;
        display: block;
        margin: auto;

        max-width: 50rem;
        height: 69.7rem;
    }
</style>