---
import {arborescence_cours} from "../../../../lib/files";
import ListItem from "@/components/ListItem.astro";
import ListPage from "@/layouts/ListPage.astro";
import {defaultFilters} from "../../../../lib/qcmFilters";
import QCMWrapper from "../../../../components/QCMWrapper.astro";
export function getStaticPaths() {
    // for each ue and theme pair
    return arborescence_cours.flatMap((ue) => {
        return ue.themes.map((theme) => {
            return {params: {ue_id: ue.id, theme_id: theme.id}}
        })
    })
}

const {ue_id, theme_id} = Astro.params;
const ue = arborescence_cours.find(ue => ue.id === ue_id)!;
const theme = ue.themes.find(theme => theme.id === theme_id)!;
---

<ListPage title=`${theme.name}`>
    <p slot="header">Cours: {theme.name}</p>
    <Fragment slot="elements">
        {theme.cours.map(cours => (
                <ListItem href={`${cours.id}`}>
                    {cours.name}
                </ListItem>
        ))}
    </Fragment>

    <Fragment slot="after-elements">
        <QCMWrapper

                defaultQuestionCount={10}
                preSetFilters={{...defaultFilters,
            context: `le thème ${theme.name}`,
            included_cours: new Set(theme.cours.map(c => c.id))}}/>
    </Fragment>
</ListPage>