---
import "./bootstrap.min.css";
import {Breadcrumb, Navbar} from "astro-bootstrap";
import {arborescence_cours} from "../lib/files";
import {Image} from "astro:assets"
import faviconSrc from './favicon.png'
import AlgoliaSearch from "../components/AlgoliaSearch.astro"

import logoSrc from './logo.png'
import githubIcon from './github-mark.svg'
// import {ViewTransitions} from "astro:transitions"

interface Props {
    title: string;
}

const {title} = Astro.props;

const items = [
    // pull this in from a config file
    {
        text: "Accueil",
        href: "/",
        active: Astro.url.pathname == "/"
    },
    {
        text: "Fiches",
        href: "/ues",
        active: Astro.url.pathname.startsWith("/ues")
    },
    {
        text: "QCMs",
        href: "/qcms",
        active: Astro.url.pathname.startsWith("/qcms")
    }
];

const breadcrumbs: { name: string, url: string }[] = [];

let path = Astro.url.pathname.replace(import.meta.env.BASE_URL, "").split("/");
if (path[0] === "") {
    path.shift();
}
if (path.length >= 0) {
    // breadcrumbs.push({name: "Accue"})
}
console.log(path);
if (path.length >= 1) {
    if (path[0] === "ues") {
        breadcrumbs.push({name: "UEs", url: "/ues"});
        if (path.length >= 2) {
            let ue = arborescence_cours.find(ue => ue.id === path[1])!;
            breadcrumbs.push({name: ue.name, url: `/ues/${ue.id}`});
            if (path.length >= 3) {
                let theme = ue.themes.find(theme => theme.id === path[2])!;
                breadcrumbs.push({name: theme.name, url: `/ues/${ue.id}/${theme.id}`});
                if (path.length >= 4) {
                    let cours = theme.cours.find(cours => cours.id === path[3])!;
                    breadcrumbs.push({
                        name: cours.name,
                        url: `/ues/${ue.id}/${theme.id}/${cours.id}`
                    });
                }
            }
        }
    } else {
        console.log("Todo breadcrumbs");
    }
}
const navBarId = "navbarTogglerTarget";

---

<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Fiches de cours de médecine"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/png" href={faviconSrc.src}/>
    <meta name="generator" content={Astro.generator}/>
    <base href={Astro.url.pathname + (Astro.url.pathname === '/' ? '' : '/')}/>
    <!--<ViewTransitions/>-->
    <title>Medhi Souk | {title}</title>
</head>
<body class="d-flex flex-column g-0 ">
<header class="pt-0 px-0">
    <Navbar class="navbar navbar-expand-lg bg-primary px-3 pt-3 pb-4 mx-0 flex-column flex-md-row" data-bs-theme="dark">

        <button
                class="navbar-toggler m-0 mb-3 align-self-start"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target=`#${navBarId}`
                aria-controls={navBarId}
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="container-fluid p-0 ms-0  mb-4 mb-md-0 ms-5-lg navbar-nav align-items-center text-center">
            <a class="navbar-brand m-0" href="/">
                <Image loading="eager" src={logoSrc} alt="logo" height="100"/>
            </a>

            <div class="collapse navbar-collapse" id={navBarId}>
                <ul class="nav ms-0 ms-md-5 mb-0 mb-md-2 mb-lg-0 me-auto nav-fill flex-column flex-md-row">
                    {items.map(i => (
                            <li class="nav-item me-0 me-md-2">
                                <a href={i.href} class="nav-link" class:list={[{"active":i.active}]}>
                                    {i.text}
                                </a>
                            </li>
                    ))}
                </ul>
            </div>
        </div>
        <div id="searchbox"
             class="form-inline w-75" style="height: 3rem">
            <AlgoliaSearch/>
        </div>
    </Navbar>
    <div class="ms-5 mb-4 mt-4 form-inline">
        <Breadcrumb>
            {breadcrumbs.map(breadcrumb => (
                    <Breadcrumb.Item><a href={breadcrumb.url}>{breadcrumb.name}</a></Breadcrumb.Item>
            ))}
            &nbsp; <!-- pour réserver la place si y'a pas de breadcrumbs -->
        </Breadcrumb>
    </div>
</header>
<main class="mx-md-5 mx-2 my-0 flex-fill">
    <slot/>
</main>
<footer class="d-flex flex-wrap justify-content-between py-3 my-4 mx-5 border-top">
    <div class="col-md-4 mb-0">
        <p class="mb-2">Contenu par Pierre MARTINI</p>
        <p class="mb-2">Développement par <a class="" href="https://github.com/LelouBil">LelouBil</a> et <a
                class="" href="https://github.com/Tyranozomby">Tyranozomby</a>
            <a class="ms-2" href="https://github.com/LelouBil/site-fiches-medecine">
                <Image class="d-inline" width="20" src={githubIcon} alt="github icon"/>
            </a>
        </p>
        <p></p>
    </div>
</footer>
</body>
</html>
<script>
    import "bootstrap/dist/js/bootstrap.bundle";

</script>
<style is:global>


    input, .form-check-input {
        border: 1pt solid black;
    }

</style>
